img{
    width: 550px;
    position: relative;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    position: relative;
    text-align: center;
    display: inline-flex;
    margin-left: 50px;
  }
  
  .example-full-width {
    width: 100%;
  }

  h3{
      text-align: center;
    color:rgb(31, 158, 236);    
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

.input-form{
  min-width: 150px;
    max-width: 500px;
    width: 100%;
    position: relative;
    text-align: center;
    display: inline-flex;
    margin-left: 50px;

}
.in-full{
  width: 100%;
}

.in-full1{
  width: 100%;
}

.btn{
  background-color:rgb(31, 158, 236);  
  color: aliceblue;
  display: block;
  margin: 0 auto;
  font-size: 15px;
}
